$customYellow: #cca767;
$customGray: #818180;
$customWhite: rgb(255, 255, 255);
$customBlack: rgb(0, 0, 0);

.home_parts {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: auto;

  .parts,
  .tires {
    display: flex;
    flex-direction: row;
    margin: 120px 0;

    & > .parts_desc,
    .tires_desc {
      width: 50%;
      padding: 0 20px;

      & > h2 {
        text-transform: uppercase;
      }
      & > p {
      }
    }
    & > .parts_photo,
    .tires_photo {
      width: 50%;
      padding: 0 20px;
      & > img {
        border-radius: 10px;
      }
    }
  }
  .tires {
    flex-direction: row-reverse;
  }
}

.equipment {
  display: flex;
  flex-direction: column;

  margin: 0 0 80px 0;
  .equipment_desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 20px 0;

    & > h2 {
      margin: 0 0 20px 0;
      position: relative;
      text-transform: uppercase;
    }
    & > h2::before {
      content: "";
      position: absolute;
      border: 1px solid $customYellow;
      bottom: -20%;
      left: 45%;
      right: 45%;

      width: inherit;
    }
  }
  .equipment_video {
    display: flex;
    justify-content: space-around;

    .equipment_video_el {
      height: 200px;
      width: 200px;
      border: 10px solid rgba(248, 248, 248, 1);
      border-radius: 50%;
      & > p {
        text-align: center;
        margin: 10px 0 0 0;
      }

      & > img {
        border-radius: 50%;

        transition: 0.2s ease-in-out;

        &:hover {
          background: rgba(248, 248, 248, 1);
          filter: brightness(40%);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .home_parts {
   
    .parts,
    .tires {

      flex-direction: column;
      justify-content: center;
      align-items: center;
     
      margin: 50px 0;

      & > .parts_desc,
      .tires_desc {

        width: 80%;
        & > h2 {
          margin: 0 0 10px 0;
        }
        & > p {
          margin: 0 0 30px 0;
        }
      }
      & > .parts_photo,
      .tires_photo {
        width: 80%;
      }
    }
  }

  .equipment {
    .equipment_video {
     
      justify-content: center;
      align-items: center;
      .equipment_video_el {
        height: 150px;
        width: 150px;
        margin: 30px 0;
      }
    }
  }
}
