.home_preview{
    height: 500px;
    margin: auto;

    background: url('https://ic.pics.livejournal.com/spiese/44812219/158948/158948_original.jpg') no-repeat;
    background-size: cover;
    filter: brightness(40%);

    .preview{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        border: 1px solid #000;
    }
}
