
.home_parts{
    min-height: 600px;
    max-width: 100%;

    display: flex;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .parts_desc-back{
       
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: 1px solid #000;
        text-overflow:hidden;

        &>.parts_desc{
            padding: 10px;
            width: 100px;
            height: 100px;
        }
    }
    // .parts_photo-back{
    //     display: flex;
    //     justify-content: center;
    //     align-content: center;
    //     align-items: center;

    //     &>.parts_photo{
    //         width: 100px;
    //     }
    // }

}